snippet log
	require('buzz').log ${1}
snippet logi
	require('buzz').verbose ${1}
snippet logc
	require('buzz').concise ${1}
snippet logl
	require('buzz').loud ${1}
snippet logt
	require('buzz').trace()
